@mixin link-hover-effect {
    &:hover {
      background-color: rgb(38, 51, 97);
      border-radius: 90%;
    }
  }
@mixin display-justify-content {
    display: flex;
    justify-content: center;
}