$color_1: white;
$color_2: #fff;
$font-family_1: arial;
$font-family_2: Arial;
$font-family_3: Arial, Helvetica, sans-serif;
$background-color_1: black;
$background-color_3: #333;

body {
	background-image: radial-gradient( circle farthest-corner at 10% 20%, rgba(38,51,97,1) 0%, rgba(65,143,222,1) 79% );
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: $font-family_1;
}
.inicio {
	display: flex;
	position: relative;
	a {
		position: absolute;
		top: 54%;
		font-size: 2.5rem;
		font-weight: 500;
		background: rgba(0, 0, 0, 0.466);
		color: $color_1;
	}
}
.foto-incio {
	width: 95%;
	height: 600px;
	object-fit: cover;
	border-radius: 15px;
}
.sobre-nosotros {
	img {
		position: relative;
		background-repeat: no-repeat;
		background-size: cover;
		width: 95%;
		height: 600px;
		object-fit: cover;
		border-radius: 15px;
	}
	h2 {
		font-size: 4rem;
		color: $color_1;
		position: absolute;
		top: 20%;
		left: 33%;
		text-align: center;
	}
	p {
		font-size: 1.3rem;
		color: $color_1;
		position: absolute;
		top: 40%;
		text-align: center;
		width: 95%;
	}
}
.titulo-BS {
	color: $color_1;
	font-family: $font-family_2;
	display: block;
	font-size: 2em;
	margin-block-start: 0.67em;
	margin-block-end: 0.67em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	font-weight: bold;
}
.SN-h3 {
	color: $color_1;
	padding: 20px;
	font-family: $font-family_3;
	font-size: 2rem;
	font-weight: bold;
}
.sinsub {
	text-decoration: none;
	color: $color_1;
}
.titulo {
	color: $color_1;
}
.menu {
	background-color: $background-color_1;
	padding: 5px;
	list-style: none;
	margin: 0 auto;
	text-align: center;
	li {
		display: inline-block;
		text-align: center;
		a {
			padding: 20px;
			margin: 10px;
			color: $color_1;
			&:hover {
				background-color: rgb(38,51,97);
				border-radius: 90%;
			}
		}
	}
}
h2 {
	color: $color_1;
	padding: 20px;
}
main {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}
div {
	margin: 3px;
}
footer {
	background-color: $background-color_3;
	color: $color_2;
	padding: 20px;
	margin-top: 40px;

    .container1 {
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .contact-info {
        a {
            color: $color_2;
            text-decoration: none;
            margin-right: 20px;

            &:hover {
                text-decoration: underline;
            }
        }
        i {
            margin-right: 10px;
        }
    }
}


p {
	margin: 0;
}
.productosimg {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	&:hover {
		transform: scale(1.035);
	}
}
.productos {
	padding: 10px;
	width: 250px;
	height: 250px;
	border-radius: 30px;
}
.img-div {
	p {
		color: $color_1;
	}
}
.trabaja-con-nosotros {
	display: flex;
	justify-content: center;
	align-items: center;
	background-repeat: no-repeat;
	background-size: cover;
	color: $color_1;
	position: relative;
}
.trabaja-con-nosotros-background {
	width: 95%;
	height: 600px;
	object-fit: cover;
	border-radius: 15px;
}
.container-form {
	background: rgba(0, 0, 255, 0.253);
	padding: 20px;
	border-radius: 20px;
	position: absolute;
}
.form-title {
	font-size: 25px;
	font-weight: 600px;
	text-align: center;
	padding-bottom: 6px;
}
.contacto {
	display: flex;
	justify-content: center;
	align-items: center;
	background-repeat: no-repeat;
	background-size: cover;
	color: $color_1;
}
.contacto-background {
	width: 95%;
	height: 600px;
	object-fit: cover;
	border-radius: 15px;
}

.menu-toggle-container {
    display: none; 
}
@media only screen and (max-width:450px) {
    nav {
        .menu-toggle-container{
            display: flex;
            background: rgba(0, 0, 0, 0.466);
            padding: 20px;
            transition: all 0.3s ease;
            
            input{
                opacity: 0;
            }

            label {
                border: 1px solid #fff;
                border-radius: 5px;
                color:white;   
                padding: 1px 3px 1px 3px;
                display: flex;
                width: 24px;         
                justify-content: center;
                height: 28px;
            }

            ul li::marker{
               color: white;
            }
        }
        .menu, .menu-mobile {
            display: none;
        }
        .menu-toggle-container input[type="checkbox"]:checked + label ~ .menu-mobile {
            display: block;
        }
    }
    
	.foto-incio {
		width: 92%;
		height: 500px;
		object-fit: cover;
		border-radius: 15px;
	}
	.inicio {
		a {
			position: absolute;
			top: 54%;
			font-size: 2rem;
			font-weight: 300;
			background: rgba(0, 0, 0, 0.466);
			color: $color_1;
		}
	}
	.sobre-nosotros {
        position: relative;
		h2 {
			font-size: 2rem;
			color: $color_1;
			position: absolute;
            top: 3%;
			left: 23%;
			text-align: center;
		}
		img {
			position: relative;
			background-repeat: no-repeat;
			background-size: cover;
			width: 95%;
			height: 500px;
			object-fit: cover;
			border-radius: 15px;
		}
		p {
			position: absolute;
			top: 20%;
			font-size: 0.75rem;
			text-align: center;
		}
	}
	.productosimg {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
	}
	.productos {
		padding: 10px;
		width: 120px;
		height: 120px;
		border-radius: 20px;
		object-fit: cover;
	}
	.img-div {
		p {
			color: $color_1;
			font-size: 0.8rem;
		}
	}
}
